In [1]:
# The directory for top level folder
dir_ = "/home/sugam/Work/10-19 NLP/12 Projects/Resume Builder/data/"

In [2]:
raw_data_dir = dir_ + 'raw/'
processed_data_dir = dir_+'Processed/'

In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
####################### LOAD DATA
##################################################################
def load_data(url: str) ->pd.DataFrame:
    """
    Loads the dataframe into memory

    Args:
      url (string) - the path to the dataframe

    Returns:
      df (pandas dataframe)
    """
    
    print("⏳ Loading Data")
    
    # Refering our data without any modification and dtype
    if(url[-3:]=="csv"):
        df = pd.read_csv(url)
        
        for col in list(df):  # List out the column names
            if "Unnamed" in col:  # Checks if the column contains Unnamed in it 
                df.drop(col, axis=1,inplace=True) # Removes the Garbage column
    else:
        df = pd.read_json(url, lines=True)


    
    print(f"✅ Done Loading")    
    return df


df_dir= processed_data_dir+"final.csv"

df = load_data(df_dir)

⏳ Loading Data
✅ Done Loading

In [5]:
# Creating dataframe for first 1000 entries
df_1000 = df.iloc[:1000].copy()
df_1000.head()

,jobtitle,company,job_role,joblocation,education,experience,skills,industry,payrate
0,Walkin Data Entry Operator (night Shift),MM Media Pvt Ltd,Fresher Keyskills English Typing Part Time Dat...,Bangalore,Postgraduate,0 - 1 yrs,ITES,"Media , Entertainment , Internet","1,50,000 - 2,25,000 PA"
1,Work Based Onhome Based Part Time,find live infotech,"Search Engine Marketing,SEM Specialist Keyskil...",Lucknow,MTech,0 - 0 yrs,Marketing,"Advertising , PR , MR , Event Management","1,50,000 - 2,50,000 PA 20000"
2,"Pl,sql Developer - SQL",Softtech Career Infosystem Pvt Ltd,Software Developer Keyskills SQL Loader PL SQL...,Hyderabad,MSc(Science)-Computers,4 - 8 yrs,IT Software - Application Programming,"IT-Software , Software Services",Not Disclosed by Recruiter
3,"Manager,ad,partner - Indirect Tax - CA",Onboard HRServices LLP,Taxation(Indirect) Manager Keyskills Service T...,Chennai,"MS,MSc(Science)",11 - 15 yrs,Accounts,"Banking , Financial Services , Broking",Not Disclosed by Recruiter
4,JAVA Technical Lead (6-8 yrs) -,Spire Technologies and Solutions Pvt Ltd,"Team Lead,Technical Lead Keyskills Javascript ...",Pune,"Diploma-Electronics,Telecommunication",6 - 8 yrs,IT Software - Application Programming,"IT-Software , Software Services",Not Disclosed by Recruiter

In [13]:
def remove_garbage(x):
    x = re.sub(r"/",",",str(x)) # Replace \n with nothing
    x = re.sub(r"\xa0","",str(x)) # Replace \n with nothing
    x = re.sub("_"," ",str(x))
    x = re.sub("|","",str(x))
    x = re.sub(r"\.","",str(x))
    return x
    
for col in df_1000.columns:
    df_1000[col] = df_1000[col].map(remove_garbage)

In [14]:
# Combining each column to make a single context dataset
df_1000_final = (
    "JT_" + df_1000["jobtitle"] + \
    ",CO_" + df_1000["company"] +\
    ",JR_" + df_1000["job_role"] + \
    ",JL_" + df_1000["joblocation"] + \
    ",ED_" + df_1000["education"] + \
    ",EX_" + df_1000["experience"] + \
    ",SK_" + df_1000["skills"] + \
    ",IN_" + df_1000["industry"] + \
    ",PR_" + df_1000["payrate"]
)

In [15]:
def find_index(row,df):
    title_index = df[row].find("JT_") + 3
    company_index = df[row].find("CO_") + 3
    job_role_index = df[row].find("JR_") + 3
    job_location_index = df[row].find("JL_") + 3
    education_index = df[row].find("ED_") + 3
    experience_index = df[row].find("EX_") + 3
    skills_index = df[row].find("SK_") + 3
    industry_index = df[row].find("IN_") + 3
    payrate_index = df[row].find("PR_") + 3

    return title_index, company_index, job_role_index,job_location_index,education_index,experience_index,skills_index,industry_index,payrate_index

In [16]:
# This dataframe will contain the index values of the information

cols = ["title_index","company_index","job_role_index","job_location_index","education_index","experience_index","skills_index","industry_index","payrate_index"]

val_list = []


for index in range(len(df_1000_final)):
    
    title_index, company_index, job_role_index,job_location_index,education_index,experience_index,skills_index,industry_index,payrate_index = find_index(index,df_1000_final)
    val_list.append([title_index, company_index, job_role_index,job_location_index,education_index,experience_index,skills_index,industry_index,payrate_index])
    

index_df = pd.DataFrame(val_list,columns=cols)
    
index_df.head()

,title_index,company_index,job_role_index,job_location_index,education_index,experience_index,skills_index,industry_index,payrate_index
0,3,47,67,169,182,198,211,219,255
1,3,40,62,168,179,188,201,214,258
2,3,29,67,227,240,266,279,320,355
3,3,45,71,765,776,795,810,822,864
4,3,38,82,216,224,265,278,319,354

In [17]:
company_name = df_1000_final[index][index_df.loc[index,"company_index"]:index_df.loc[index,"job_role_index"]-3]
post_name = df_1000_final[index][index_df.loc[index,"title_index"]:index_df.loc[index,"company_index"]-3]

In [ ]:
df_1000_final[0].find("JT_")

In [ ]:
json_objects= []

# For adding id's
range_till_1000 = list(range(1,5001))
step = 5
low = 0
high = step
for index, value in df_1000_final.items():
    counter = range_till_1000[low:high]   # Slicing the id's
    
    # Taking company name and post name as per each row
    company_name = df_1000_final[index][index_df.loc[index,"company_index"]:index_df.loc[index,"job_role_index"]-4]
    post_name = df_1000_final[index][index_df.loc[index,"title_index"]:index_df.loc[index,"company_index"]-4]
    pay_rate = df_1000_final[index][index_df.loc[index,"payrate_index"]:]
    skills_required = df_1000_final[index][index_df.loc[index,"skills_index"]:index_df.loc[index,"payrate_index"]-3]
    experience_required = df_1000_final[index][index_df.loc[index,"experience_index"]:index_df.loc[index,"skills_index"]-3]
    role = df_1000_final[index][index_df.loc[index,"job_role_index"]:index_df.loc[index,"job_location_index"]-3]
    
    json_objects.append(
        {
        "context": value,
        "qas": 
            [
                {
                    "id": str(counter[0]),
                    "is_impossible": False,
                    "question": f"What is job provided by {company_name} company?",
                    "answers": 
                    [
                        {
                            "text": f"{post_name}",
                            "answer_start": f"{index_df.loc[index,'company_index']}",
                        }
                    ],
                },
                {
                    "id": str(counter[1]),
                    "is_impossible": False,
                    "question": f"What is salary provided by {company_name} company for {post_name} post?",
                    "answers": 
                    [
                        {
                            "text": f"{pay_rate}",
                            "answer_start": f"{index_df.loc[index,'payrate_index']}",
                        }
                    ],
                },
                {
                    "id": str(counter[2]),
                    "is_impossible": False,
                    "question": f"What are skills required for {post_name} post in {company_name} company?",
                    "answers": 
                    [
                        {
                            "text": f"{skills_required}",
                            "answer_start":f"{index_df.loc[index,'skills_index']}" ,
                        }
                    ],
                },
                {
                    "id": str(counter[3]),
                    "is_impossible": False,
                    "question": f"What is experience required for {post_name} post in {company_name} company?",
                    "answers": [
                        {
                            "text": f"{experience_required}",
                            "answer_start":f"{index_df.loc[index,'experience_index']}" ,
                        }
                    ],
                },
                {
                    "id": str(counter[4]),
                    "is_impossible": False,
                    "question": f"What is role for {post_name} post in {company_name} company?",
                    "answers": 
                    [
                        {
                            "text": f"{role}",
                            "answer_start":f"{index_df.loc[index,'job_role_index']}" ,
                        }
                    ],
                },
                
            ],
        },
    )
    low = high
    high = high+step

In [ ]:
df2 = pd.DataFrame(json_objects)

In [ ]:
df2.iloc[5]["qas"]

In [ ]:
# Convert the DataFrame to JSON
json_data = df2.to_json(orient='records')

file_path = processed_data_dir+"first_1000.json"
# Write the JSON data to the file
with open(file_path, 'w') as json_file:
    json_file.write(json_data)